#slider{
    padding: 10px 0 10px;
    position: relative;
    width: 300px;
    height: 300px;
}

#slider img{
    width: 300px;
    height: 300px;
    position: absolute;
    -webkit-border-radius : 5px 5px 5px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px; 
}

.slidertitle{
    width: 280px;
    margin-top: 265px;
    text-align: center;
    position: absolute;
    padding: 10px;
    -webkit-border-radius : 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radiuse : 5px 5px 5px 5px;
    color: #FFF;
    background-color: rgba(12, 22, 23, 0.50)
}