.satu {
    width: 200px ;
    height: 200px;
    background-color: lightgreen;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 150px;
    margin-right: 50px;
}

.dua{
	width: 100px;
	height:100px;
	background-color: lightblue;
}
.tiga{
	width: 50px;
	height: 50px;
	background-color: violet;
}